[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-vimeo:before {
  content: "\eaa0";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-enlarge:before {
  content: "\e989";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-bookmark:before {
  content: "\e9d2";
}
