[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-tumblr:before {
  content: "\eab9";
}
.icon-pinterest:before {
  content: "\ead1";
}
